<% content_for :title do %>
   Invoices
<% end %>
<%= render :partial => 'partials/header'%>
<!-- main menu-->
<%= render :partial => 'partials/sidebar'%>
<!-- / main menu-->
<div class="app-content content container-fluid">
   <div class="content-wrapper">
      <div class="content-body">
         <!-- Basic form layout section start -->
         <section id="basic-form-layouts">
            <div class="match-height">
               <div class="card p-0">
                  <div class="card-header">
                     <h4 class="card-title" id="basic-layout-tooltip">Add Invoice</h4>
                     <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                     <div class="heading-elements">
                        <ul class="list-inline mb-0">
                           <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                           <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                           <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body collapse in">
                     <div class="card-block">
                        <%= form_with model: @invoice do |form| %>
                        <div class="form-body">

                        <% @clients  = Client.all %>
                        <div class="form-group">
                              <label>Client</label>
                              <%= form.select :client_id, @clients.map { |t| [t.company_name, t.id]}, {}, class: "form-control" %>
                              

                              
                              <% @invoice.errors.full_messages_for(:company_name).each do |message| %>
                                 <div class="text-danger"><%= message %></div>
                               <% end %>
                           </div>
                           
                           <div class="form-group">
                              <label>Amount</label>
                              <input type="text" class="form-control" placeholder="Amount" name="invoice[amount]" >
                              <% @invoice.errors.full_messages_for(:amount).each do |message| %>
                                <div class="text-danger"><%= message %></div>
                              <% end %>
                           </div>

                           <div class="form-group">
                              <label>Currency</label>
                              <%= form.select :currency, options_for_select(['Rupee', 'Dollor']), {}, { :class => 'form-control' } %>
                              <% @invoice.errors.full_messages_for(:currency).each do |message| %>
                                 <div class="text-danger"><%= message %></div>
                               <% end %>
                           </div>
                                 
                           <div class="form-group">
                              <label>Contract Type</label>
                              <%= form.select :contract_type, options_for_select(['Monthly', 'Hourly']), {}, { :class => 'form-control' } %>
                              <% @invoice.errors.full_messages_for(:contract_type).each do |message| %>
                                 <div class="text-danger"><%= message %></div>
                               <% end %>
                           </div>

                           <div class="form-group">
                              <label>Payment Cycle</label>
                              <%= form.select :contract_type, options_for_select(['Monthly', 'Semi Monthly', 'Weekly']), {}, { :class => 'form-control' } %>
                              <% @invoice.errors.full_messages_for(:payment_cycle).each do |message| %>
                                 <div class="text-danger"><%= message %></div>
                               <% end %>
                           </div>

                           <div class="form-actions">
                              <button type="submit" class="btn btn-primary">
                              <i class="icon-check2"></i> Save
                              </button>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- // Basic form layout section end -->
      </div>
   </div>
</div>